torch>=2.0.0
transformers>=5.5.4
sentence-transformers>=5.2.0
numpy>=1.21.0
pandas>=3.0.0
fastparquet
huggingface_hub>=0.27.0
zstandard>=0.23.0
matplotlib>=3.10.0
bitsandbytes>=0.30.0
accelerate>=1.13.0
flash-attn>=2.8.0
#transformer-engine[pytorch]>=2.15.0 # refer to https://github.com/NVIDIA/TransformerEngine#installation TODO: make te optional